.submitBtn {
  background: #29b744;
  color: #fff;
  width: 200px;
  margin: 20px 0 20px;
  padding: 10px;
  border-radius: 90px;
  transition: opacity .5s;
  cursor: pointer;
  &:hover {
    opacity: .6;
  }
}